.spacer {
    flex: 1 1 auto;
}

span:focus, img:focus {
    outline: none;
    border: 0;
}

span, img {
    cursor: pointer;
    transition: all .2s ease-in-out;
}

span:hover, img:hover {
    text-decoration: underline;
    transform: scale(1.1);
}