<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img routerLink="/sheet" src="https://i.imgur.com/WomOPXz.png" alt="LySurge logo" style="max-height: 50%; width: auto;" />
    <span class="spacer"></span>
    <span routerLink="/sheet">
      LySurge
    </span>
    <span class="spacer"></span>
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button mat-raised-button color="accent" routerLink="/surgeboard">Post a Tab</button>
      <button mat-button (click)="auth.logout()">Logout</button>
    </div>
    <ng-template #showLogin>
      <button mat-button (click)="auth.login()">Login with Google</button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>