<div class="card-wrapper" *ngFor="let post of posts | async">
  <div class="sheet">
    <h2 routerLink="{{post.id}}" style="cursor: pointer;">{{ post.title }}</h2>
    <div *ngIf="post.link">
      <a href="{{post.link}}" target="_blank" class="tab-link">
        <mat-icon>link</mat-icon> {{post.link}}
      </a>
    </div>
    <hr>
    <div style="font-size: 9px;">
      tabbed by {{ post.author }} &bull; {{ post.date.seconds * 1000 | date: 'fullDate' }}
      <button mat-icon-button class="surge" color="accent">
        <mat-icon>flash_on</mat-icon>
      </button>
      <button mat-icon-button class="surge">
        <mat-icon>comment</mat-icon>
      </button>
      <mat-card-actions *ngIf="auth.currentUserId === post.authorId">
        <button mat-icon-button class="edit">
          <mat-icon>more_vert</mat-icon>
        </button>
        <button mat-icon-button class="delete" (click)="delete(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </div>
  <hr width="33%">
</div>